<main class="main">
  <div [@toggle_sidebar]="sidebar ? 'open' : 'closed'" class="sidebar">
    <variable-box *ngFor="let id of getIdList() "
                  [variableId]="id" >
    </variable-box>
    <div class ="plus-button">
      <p-button class ="plus-button" icon = "pi pi-plus-circle" [outlined]="true" [raised]="true" [rounded]="true" (onClick)="addVariable()"></p-button>
    </div>
  </div>
  <p-button [@move_toggle] ="sidebar ? 'open' : 'closed'" class="sidebar-toggle" [icon]="sidebar ? 'pi pi-chevron-left': 'pi pi-chevron-right'"  aria-label="Save" (click)="toggleSidebar()"></p-button>
  <div [@move_input]="sidebar ? 'open' : 'closed'" class = "container">
    <div *ngIf="!syntaxIsCorrect" class = "warn">Input is incorrect! Check entered cycles or variables</div>
    <p-floatlabel variant="on">
      <input pSize="large" pInputText id="over_label" [(ngModel)]="problem" autocomplete="off" />
      <label class="helvetica" for="over_label">Enter equation</label>
    </p-floatlabel>
    <div class ="solve-buttons">
      <p-button class ="solve-button" label="Solve" (click)="Solve()"></p-button>
      <a href='https://ko-fi.com/makov' target='_blank'>
        <img height="50" src='https://cdn.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
      </a>
    </div>
    <p-scrollpanel class ="result-box" [style]="{ width: '50em', height: '30em' }">
      <p class="big-caption">Solution</p>
      <p class ="caption">Matrix:</p>
      <div class="matrix-variable">
        <p-table class ="matrix-inside" [value]="solutionMatrix" [style]="{'width': '100%'}" [selectionMode]="null" >
          <ng-template pTemplate="header" >
            <tr>
              <th *ngFor="let _ of solutionMatrix[0]; let colIndex = index">
                Column {{ colIndex + 1 }}
              </th>
            </tr>
          </ng-template>

          <ng-template  pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let _ of solutionMatrix[0]; let colIndex = index" pEditableColumn>
                {{ solutionMatrix[rowIndex][colIndex] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class ="space"></div>
      <p class ="caption">Cycles:</p>
      <p class ="solution-cycles">{{solutionCycle}}</p>
    </p-scrollpanel>
    <p-toast class="helvetica" position="bottom-center" key ="tl"></p-toast>
  </div>
  <p class ="footer">© {{ currentYear }} Mihail Prudnikov. All rights reserved.</p>
</main>
<router-outlet />
