<main class="main">
  <div [@toggle_sidebar]="sidebar ? 'open' : 'closed'" class="sidebar">
    <div class ="plus-button">
      <variable-box></variable-box>
      
      <p-button class ="plus-button" icon = "pi pi-plus-circle" [outlined]="true" [raised]="true" [rounded]="true"></p-button>
    </div>
  </div>
  <div class = "container">
    <p-floatlabel variant="over">
      <input pSize="large" [attr.size]="80" pInputText id="over_label" [(ngModel)]="value" autocomplete="off" />
      <label class="helvetica" for="over_label">Enter equation</label>
    </p-floatlabel>
    <p-button class ="solve-button" label="Solve"></p-button>
    <p-button icon="pi pi-home" aria-label="Save" (click)="toggleSidebar()"></p-button>

  </div>

</main>
<router-outlet />
