html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-size: .9vw;
}

.helvetica{
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}


.p-togglebutton {
  background-color: #e8e8e8 !important;
  color: #333333 !important;
  width: 9vw!important;
}


.save-button {
  margin-top: 0.40vh !important;
  height: 2em!important;
  width: 100% !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.p-togglebutton.p-disabled {
  /* Make it less visible */
  color: rgba(145, 143, 143, 0.62) !important;
  cursor: not-allowed; /* Show "not-allowed" cursor */
}

.p-togglebutton {
  background-color: #fff9f9 !important; /* Gray */
  color: #3e3c3c !important;
  border: .2rem solid #424242 !important;
  font-weight: bold !important;
}
